html, body {
    height: 100%;
    width: 100%;
}

h1 {
    color: #222;
    font-size: 1.8em;
}

h3 {
    color: #222;
    font-size: 1.6em;
}


nav {
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
}

.navbar-custom {
    background-color: #000;
    border-bottom: solid 2px #ffffff;
}

.navbar-inverse .nav li a {
    color: #fff
}

.navbar-brand a {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

.navbar-brand a img {
    max-width: 20px;
}



section {
    max-width: 940px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    color: #888;
}

footer {
    color: #CCC;
    background-color: #000;
    margin: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    height: 10em;
}

.modal-content {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}


.control-modal-form {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}







